{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ site_title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sliders.js' %}"></script>
<!--[if lt IE 9]>
<script src="{% static 'js/modernizr.js' %}"></script>
<![endif]-->
<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="{% static 'js/up/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/up/js.js' %}"></script>
<!-- 返回顶部调用 end-->
</head>
<body>
<header>
  <!--<div class="logo f_l"> <a href="/"><img src="images/logo.png"></a> </div>-->
  <div class="add">
    <h1>{{ site_title }}</h1>
    <p>{{ site_desc }}</p>
  </div>
  <div class="f_r">
      {% if user.is_authenticated %}
        <h3>欢迎，{{ user.username }} <img src="/uploads/{{ user.avatar }}" height="50" width="50"> <a href="{% url 'logout' %}">登出</a></h3>
      {% else %}
        <h3>欢迎新用户 <a href="{% url 'login' %}">登陆</a></h3>
      {% endif %}
  </div>
  <nav id="topnav" class="f_r">
    <ul>
      <a href="{% url "index" %}" target="_blank">首页</a> <a href="p.html" target="_blank">文章</a> <a href="c.html" target="_blank">心灵鸡汤</a> <a href="news.html" target="_blank">关于我</a>
    </ul>
    <script src="js/nav.js"></script> 
  </nav>
</header>

<article>
  <div class="l_box f_l">

     <!-- 广告代码 结束 -->
     {% block ad_info %}
     {% endblock %}


    <div class="topnews">

        <!-- 首页博客代码 结束 -->
        {% block blog_info %}
        {% endblock %}

    </div>
  </div>
  <div class="r_box f_r">
    <div class="tit01">
      <h3>关注我</h3>
      <div class="gzwm">
        <ul>
          <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
          <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
          <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
          <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
        </ul>
      </div>
    </div>
    <!--tit01 end-->
    <div class="ad300x100"> <img src="{%  static 'images/ad300x100.jpg' %}"> </div>

    <!--切换卡 moreSelect end -->
    {% include "tabwidget.html" %}

    <!--标签云信息 end -->
    {% include "tag.html" %}

    <!--图文推荐信息 end -->
    {% include "tuwen.html" %}

    <!-- 友情链接 end -->
     {% include 'link.html' %}

  </div>
  <!--r_box end --> 
</article>

<footer>
  <p class="ft-copyright">兔小白博客 Design by DanceSmile 蜀ICP备11002373号-1</p>
  <div id="tbox"> <a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer>
</body>
</html>
