{% extends "base.html" %}
{% load staticfiles %}

{#广告栏#}
{% block ad_info %}
    {% include 'ad.html' %}
{% endblock %}

{#文章列表 采用分页显示#}
{% block blog_info %}
    {% for article in article_list %}
      <div class="blogs">
        <figure><img src="uploads/{{ article.image_url }}"></figure>
        <ul>
          <h3><a href="/">{{ article.title }}</a></h3>
          <p>{{ article.content|safe|truncatewords:5}}</p>
          <p class="autor"><span class="lm f_l"><a href="/">{{ article.category.name }}</a></span><span class="dtime f_l">{{ article.date_publish|date:'Y-m-d' }}</span><span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span><span class="pingl f_r">评论（<a href="/">{{ article.comment.all.count|default:0}}</a>）</span></p>
        </ul>
      </div>
    {% endfor %}

{#    分页栏#}

    <p>

    {% if article_list.has_previous %}
        <a href="?page/{{ article_list.previous_page_number }}">上一页</a>
    {% endif %}

    {{ article_list.count }}

    {% if article_list.has_next %}
        <a href="?page/{{ article_list.next_page_number }}">下一页</a>
    {% endif %}

    </p>


{% endblock %}